html, body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

body{
	background-image:url('fliptables.svg');
	background-position:center;
}
.container{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	font-family:Lato;
	padding:20px 40px 40px;
	background-color:rgba(255,255,255,0.6);
}
h1{
	font-size:80px;
	color:rgb(104, 97, 123);
	margin:0;
	padding:0;
	font-weight:300;
}
a{
	color:rgb(244, 111, 0);
	text-decoration:none;
	font-weight:500;
}
a:hover{
	color:blue;
}


@media only screen and (min-width: 900px) {
	body{
		background-size:65%;
	}
}

@media only screen and (max-width: 500px) {
	.container h1{
		font-size:40px !important;
	}
}
